<template>
  <div class="text-center">
    <h1>Control de válvula</h1>
    <br/>
    <h2>Presión</h2>
     <v-progress-circular
      :rotate="90"
      :size="150"
      :width="25"
      :value="value"
      color="green"
      class="mb-4 mt-4"
    >
      {{ value + '%' }}
    </v-progress-circular>
    <br/><br/>
    <h2>Orden</h2>
    <v-btn
      @click="changeData(true)"
      class="mr-3 mt-4"
      color="success"
      large
    >
      Abrir
    </v-btn>
    <img :src="require(`../assets/${image}.png`)" class="mt-4" width="50" height="90"/>
    <v-btn
      @click="changeData(false)"
      class="ml-3 mt-4"
      color="error"
      large
    >
    Cerrar
    </v-btn>
    <br/><br/>
  </div>
</template>

<script>
  import { mapState,mapActions } from "vuex";
  import axios from 'axios'

  export default {
    name: 'Home',
    data () {
      return {
        status: true,
        value: 0,
        image: "turn_off"
      }
    },
    computed: {
      ...mapState(['data']),
    },
    methods: {
      ...mapActions(['getData']),
      async changeData(status){
        this.status = status;
        this.image = this.status ? 'turn_on' : 'turn_off' ;
        await this.send();
      },
      async send(){
        try {
          axios({
            method: 'POST',
            url: 'http://localhost:3000/data',
            data: {
              status: this.status,
              value: this.value
            }
          });
        } catch(e) {
          console.log("JSON ERROR: ", e);
        }
      }
    },
    beforeMount: async function() {
      await this.getData();
      this.status = this.data.status;
      this.image = this.status ? 'turn_on' : 'turn_off' ;
      this.value = this.data.value;
    }
  }
</script>
